<% content_for :nav do %>
      <%= render 'layouts/partials/nav' %>
<% end %>


<div class="container">
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    		 <div class="post-preview">
<% @articles.each do |article| %>
	<a href="<%= article_path(article) %>">
	<h2 class ="post-title"><%= article.titre %></h2>
	<p class="post-subtitle"><%= truncate(article.contenu, length: 40) %>
		<%#= link_to "lire la suite", article_path(article) %>
	</p>
	</a>
	<p class="post-meta"> Publi&eacute; par :<i><%= article.user.email %></i></p>
<% end -%>
			 </div>
		</div>
    </div>
</div>	
