<h1><center><%= @article.titre %></center></h1>
<p><%= @article.contenu -%></p>
<%= image_tag @article.image.thumb('400x200#').url %>

<% if user_signed_in? %>
	<% if can? :update, @article %>
		<%= link_to "Modifier", edit_article_path %>
	<% end %>
	<% if can? :destroy, @article %>
		<%= link_to "Supprimer", @article, method: :delete, data: {confirm: 'Are you sure?' } %>
	<% end %>
<% end %>

<h2>Nos commentaires</h2>
<% @article.comments.each do |comment| %>
  
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2> Ajouter un commentaire:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>