<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Mon blog", root_path, class: "navbar-brand" -%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <% if user_signed_in? %>
                    <li>
					<%= link_to "Nouveau article", new_article_path -%>
					</li>
					<li>
					<%= link_to "Modifier Profil", edit_user_registration_path %>
					</li>
					<li>
					<%= link_to "Deconnexion", destroy_user_session_path, method: :delete %>
					</li>
				<% else %>
					<li>
					<%= link_to "Inscription", new_user_registration_path %>
					</li>
					<li>
						<%= link_to "Se connecter", new_user_session_path %>
					</li>
			     <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    	<% if user_signed_in? %>
                        <h1><%= current_user.prenom %>&nbsp;<%= current_user.nom %></h1>
                        <hr class="small">
                        <span class="subheading">Humeur :<%= current_user.statut %></span>
                        <% else %>
                        <h1>Bienvenue</h1>
                        <hr class="small">
                        <span class="subheading">Chacun blogue a sa mani&eacute;re</span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </header>