<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	 <p class="notice"><%= notice %></p> 
	 <p class="alert"><%= alert %></p>

<h1>Blog</h1>
<%= link_to "Accueil", root_path %>
	<% if user_signed_in? %>
		<%= link_to "Nouveau article", new_article_path -%>
		<%= current_user.email %>

		<%= link_to "Modifier Profil", edit_user_registration_path %>
		<%= link_to "Deconnexion", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Inscription", new_user_registration_path %>
		<%= link_to "Se connecter", new_user_session_path %>
     <% end %>

<%= yield %>

</body>
</html>
